{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "no-console": 1,
    "func-names": "off",
    "no-use-before-define": [
      "off",
      {
        "functions": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-plusplus": [1, { "allowForLoopAfterthoughts": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
    "document": true,
    "window": true
  }
}
